{:dealStatus ACCEPTED, :expiry -, :goodTillDate nil, :orderType LIMIT, :channel WTP, :limitDistance nil, :size 1, :level 14733, :dealReference 2F2B3D71HE0JBQKM19, :currency EUR, :status OPEN, :epic IX.D.DAX.IFMM.IP, :ig.order-manager/kind :wou, :stopDistance nil, :guaranteedStop false, :timeInForce GOOD_TILL_CANCELLED, :timestamp 2023-10-30T15:13:54.000, :dealId DIAAAANL4JWZQA8, :direction SELL}
{:dealIdOrigin DIAAAANL4KFK8A7, :stopLevel nil, :dealStatus ACCEPTED, :expiry -, :channel WTP, :size 1, :level 14726.6, :dealReference 2F2B3D71HE0JD0PB1C, :status OPEN, :epic IX.D.DAX.IFMM.IP, :limitLevel nil, :ig.order-manager/kind :opu, :guaranteedStop false, :timestamp 2023-10-30T15:14:30.472, :dealId DIAAAANL4KFK8A7, :direction SELL}
{:dealIdOrigin DIAAAANL4KFK8A7, :stopLevel nil, :dealStatus ACCEPTED, :expiry -, :channel WTP, :size 0, :level 14727.5, :dealReference 2F2B3D71HE0JD0PB1C, :status DELETED, :epic IX.D.DAX.IFMM.IP, :limitLevel nil, :ig.order-manager/kind :opu, :guaranteedStop false, :timestamp 2023-10-30T15:14:37.813, :dealId DIAAAANL4KFK8A7, :direction SELL}
{:dealStatus ACCEPTED, :expiry -, :goodTillDate nil, :orderType LIMIT, :channel WTP, :limitDistance nil, :size 1, :level 14733, :dealReference 2F2B3D71HE0JBQKM19, :currency EUR, :status DELETED, :epic IX.D.DAX.IFMM.IP, :ig.order-manager/kind :wou, :stopDistance nil, :guaranteedStop false, :timeInForce GOOD_TILL_CANCELLED, :timestamp 2023-10-30T15:14:39.677, :dealId DIAAAANL4JWZQA8, :direction SELL}
